@tailwind base;
@tailwind components;
@tailwind utilities;
#hour{
    position: absolute;
    background-color: red;
    border-radius: 10px;
    transform-origin: bottom;
    /* display: none; */
    /* opacity: 0.4; */
}
#minute{
    position: absolute;
    background-color: blue;
    border-radius: 10px;
    transform-origin: bottom;
    /* display: none; */
    /* opacity: 0.4; */
}
#second{
    position: absolute;
    background-color: green;
    border-radius: 10px;
    /* display: none; */
    /* opacity: 0.4; */transform-origin: bottom;
}
.image-class{
    background-image: url(/src/images/clock.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* ----------------------clock----------------------------------- */
@media screen and (min-width:320px) and (max-width:768px) {
.clock-class{
    height: 20rem;
    width: 20rem;
    overflow-x: hidden;
}
.resnavi-class{
    height: 60px;
    font-size: 15px;
}
/* ---------------------------------stopwatch----------------------- */
.reshour-class{
height: 5rem;
width: 5rem;
font-size: 20px;
}
.resmin-class{
    height: 5rem;
width: 5rem;
    font-size: 20px;
}
.ressec-class{
    height: 5rem;
    width: 5rem;
    font-size: 20px;
}
.parent-class{
    font-size: 60px;
}
.superparent-class{
gap: 10px;    
}
.resstart-class{
    height: 50px;
    width: 90px;
    font-size: 20px;
}
.resstop-class{
    height: 50px;
    width: 90px;
    font-size: 20px;
}
.resreset-class{
    height: 50px;
    width: 90px;
    font-size: 20px;
}

}
