@tailwind base;
@tailwind components;
@tailwind utilities;

#hour {
    position: absolute;
    background-color: red;
    border-radius: 10px;
    transform-origin: bottom;
    /* display: none; */
    /* opacity: 0.4; */
}

#minute {
    position: absolute;
    background-color: blue;
    border-radius: 10px;
    transform-origin: bottom;
    /* display: none; */
    /* opacity: 0.4; */
}

#second {
    position: absolute;
    background-color: green;
    border-radius: 10px;
    /* display: none; */
    /* opacity: 0.4; */
    transform-origin: bottom;
}

.image-class {
    background-image: url(/src/images/clock.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media  screen and (min-width:320px) and (max-width:584px) {
    .he-class{
        font-size: 40px;
        color: red;
    }
    .inp-class{
        width: 180px;
        font-size: 20px;
    }
    .btn-class{
        width: 100px;
        
        font-size: 20px;
    }
    .btnparent-class{
        gap: 10px;
    }
    .worldparent-class{
        gap: 30px;
    }
    .currenttime-class{
        font-size: 23px;
    }
    .exacttime-class{
        font-size: 50px;
        margin-top: 20px;
    }
    /* --------alarm-------------------------- */
    .realtime-class{
        font-size: 55px;
    }
    .allinput-class{
        width: 70px;
        height: 60px;
        font-size: 40px;
    }
    .add-class{
        width: 90px;
        height: 50px;
        font-size: 15px;
        /* margin-bottom: 100px; */
    }
    .alarm-class{
        justify-content: start;
        gap: 50px;
    }
    .laping-class{
        margin-top: 10px;
    }
    .allinputampm-class{
        width: 90px;
        height: 60px;
        font-size: 20px;
    }
    .ampmparent-class{
        gap: 5px;
    }
}

/* ----------------------clock----------------------------------- */
@media screen and (min-width:320px) and (max-width:768px) {
    .image-class {
        height: 20rem;
        width: 20rem;
        overflow-x: hidden;
        justify-content: center;
        margin-bottom: 200px;
    }
    .clockparent-class{

        display: flex;
        justify-content: center;
    }

    .resnavi-class {
        height: 60px;
        font-size: 15px;
    }

    /* ---------------------------------stopwatch----------------------- */
    .reshour-class {
        height: 5rem;
        width: 5rem;
        font-size: 20px;
    }

    .resmin-class {
        height: 5rem;
        width: 5rem;
        font-size: 20px;
    }

    .ressec-class {
        height: 5rem;
        width: 5rem;
        font-size: 20px;
    }

    .parent-class {
        font-size: 60px;
        position: absolute;
        bottom: 80%;
        /* margin-bottom: 500px; */

    }

    .timerbuttonparent-class {
        gap: 10px;
    }

    .superparent-class {
        gap: 10px;
        position: absolute;
        bottom: 70%;
    }

    .superlaptimeparent-class {
        gap: 10px;
    }

    .resstart-class {
        height: 50px;
        width: 90px;
        font-size: 20px;
    }

    .resstop-class {
        height: 50px;
        width: 90px;
        font-size: 20px;
    }

    .resreset-class {
        height: 50px;
        width: 90px;
        font-size: 20px;
    }
    .timerparent-class {
        margin-top: 60px;
        font-size: 60px;
    }

    
}

input::placeholder {
    color: red;
}

input:focus {
    outline: none;
}
.add-class{
    filter: drop-shadow(16px 16px 20px blue) ;
}
.realtime-class{
    filter: drop-shadow(16px 16px 20px rgb(209, 153, 153)) ;
}
.active{
    color:rgb(125, 211, 252);
}
